Repository htop-dev/htop, pull requests merged in 2021-04, with the labels that each got.

#589 Fix build on Solaris/Illumos
  solaris/Platform.c
  solaris/Platform.h
  solaris/SolarisProcess.c
  solaris/SolarisProcess.h
Labels: Solaris

#574 Merging all the points related to calculating time in one place
  ClockMeter.c
  Compat.c
  Compat.h
  DateMeter.c
  DateTimeMeter.c
  DiskIOMeter.c
  Makefile.am
  Meter.c
  NetworkIOMeter.c
  Process.c
  Process.h
  ProcessList.c
  ProcessList.h
  ScreenManager.c
  darwin/Platform.c
  darwin/Platform.h
  dragonflybsd/Platform.h
  freebsd/Platform.h
  generic/gettime.c
  generic/gettime.h
  linux/LinuxProcessList.c
  linux/Platform.h
  openbsd/Platform.h
  solaris/Platform.h
  unsupported/Platform.h
Labels: PCP

#597 Linux: handle Shmem being part of Cached
  linux/LinuxProcessList.c
Labels: Linux :penguin:
