Repository htop-dev/htop, pull requests merged in 2021-10, with the labels that each got.

#827 Release memory for cmdline when Process_updateCmdline() returns.
  freebsd/FreeBSDProcessList.c
Labels: bug :bug:, code quality :recycle:, FreeBSD :japanese_ogre:

#830 Handle interrupted sampling from within libpcp PDU transfers
  pcp/PCPMetric.c
  pcp/PCPProcessList.c
Labels: PCP

#832 Check meter config parsing
  Settings.c
Labels: bug :bug:, code quality :recycle:, default change

#833 Early program termination only from main()
  CommandLine.c
  CommandLine.h
  darwin/Platform.c
  darwin/Platform.h
  dragonflybsd/Platform.c
  dragonflybsd/Platform.h
  freebsd/Platform.c
  freebsd/Platform.h
  linux/Platform.c
  linux/Platform.h
  netbsd/Platform.c
  netbsd/Platform.h
  openbsd/Platform.c
  openbsd/Platform.h
  pcp/Platform.c
  pcp/Platform.h
  solaris/Platform.c
  solaris/Platform.h
  unsupported/Platform.c
  unsupported/Platform.h
Labels: enhancement, code quality :recycle:, needs-rebase
