Repository htop-dev/htop, pull requests merged in 2021-07, with the labels that each got.

#677 Check for set_escdelay in ncurses
  InfoScreen.c
  ScreenManager.c
  configure.ac
Labels: build system :wrench:, code quality :recycle:, enhancement

#678 Solaris define fixes
  solaris/SolarisProcessList.c
  solaris/SolarisProcessList.h
Labels: Solaris, code quality :recycle:

#670 Check for alloc_size attribute in configure.ac
  Macros.h
  configure.ac
Labels: MacOS :green_apple:, build system :wrench:

#687 netbsd: Add dyanmicMeters stubs to fix the build
  netbsd/NetBSDProcessList.c
  netbsd/NetBSDProcessList.h
  netbsd/Platform.h
Labels: NetBSD :flags:, enhancement

#689 netbsd: Fix display of in-use and cached memory
  netbsd/NetBSDProcessList.c
  netbsd/Platform.c
Labels: NetBSD :flags:, enhancement

#694 netbsd: update README.md
  netbsd/README.md
Labels: NetBSD :flags:, documentation :open_book:

#679 Use PATH lookup for systemctl in systemd meter
  linux/SystemdMeter.c
Labels: Linux :penguin:, bug :bug:, enhancement

#683 README updates/formating
  README
Labels: documentation :open_book:

#698 Respect "Show custom thread names" setting
  Process.c
  Process.h
Labels: bug :bug:

#713 PCP: use the correct metric for shared memory calculations
  pcp/PCPProcessList.c
  pcp/Platform.c
Labels: PCP, bug :bug:

#712 PCP: fix per-process user and system time conversions
  pcp/PCPProcessList.c
Labels: PCP, bug :bug:
