Repository htop-dev/htop, pull requests merged in 2024-07, with the labels that each got.

#1493 CI: Bump FreeBSD version to 14.1.
  .github/workflows/ci.yml
Labels: build system :wrench:, FreeBSD :japanese_ogre:

#1498 pcp: Add GPU metrics support
  pcp/columns/gpu_memory
  pcp/meters/gpu
Labels: enhancement, PCP

#1499 PCP configuration file linting
  .github/workflows/ci.yml
  check-pcp-style.sh
Labels: code quality :recycle:, build system :wrench:, PCP

#1501 Separate htoprc for htop and pcp-htop to prevent overwrite
  Settings.c
  configure.ac
  htop.1.in
  pcp/PCPDynamicColumn.c
  pcp/PCPDynamicMeter.c
  pcp/PCPDynamicScreen.c
Labels: enhancement, PCP

#1504 Permit zero items in drawing a Graph meter
  Meter.c
Labels: enhancement, code quality :recycle:

#1473 Perf
  linux/LinuxProcessTable.c
Labels: enhancement
