Repository htop-dev/htop, pull requests merged in 2024-05, with the labels that each got.

#1447 CI: Bump NetBSD version to 10.0.
  .github/workflows/ci.yml
Labels: build system :wrench:, NetBSD :flags:

#1472 Linux: show newlines in commands as ? instead of space
  linux/LinuxProcessTable.c
Labels: enhancement

#1481 Linux: reorder /proc/<pid>/status parsing
  linux/LinuxProcessTable.c
Labels: bug :bug:, Linux :penguin:

#1483 PCP: Resolve nested derived metric definitions for devices
  pcp/screens/devices
Labels: enhancement, PCP
