Repository htop-dev/htop, pull requests merged in 2025-05, with the labels that each got.

#1620 GPUMeter code refactor & macOS support
  GPUMeter.c
  GPUMeter.h
  Makefile.am
  darwin/DarwinMachine.c
  darwin/DarwinMachine.h
  darwin/Platform.c
  darwin/Platform.h
  linux/LinuxProcessTable.c
  linux/Platform.c
  linux/Platform.h
  pcp/PCPDynamicMeter.c
Labels: enhancement, Linux :penguin:, MacOS :green_apple:

#1618 Make GPU residue values consistent across meter instances
  linux/GPUMeter.c
Labels: enhancement, Linux :penguin:

#1695 build (darwin): Fix a AC_COMPILE_IFELSE misquoting
  configure.ac
Labels: enhancement, code quality :recycle:, build system :wrench:, MacOS :green_apple:

#1703 Use correct hashtable key type (ht_key_t) in Dynamic screen/meter code
  DynamicMeter.c
  DynamicMeter.h
  pcp/PCPDynamicScreen.c
Labels: code quality :recycle:, PCP
