Repository htop-dev/htop, pull requests merged in 2025-01, with the labels that each got.

#1580 Fix possible memory leak in Settings
  Settings.c
Labels: bug :bug:, code quality :recycle:

#1591 Fix possible NULL deref when looking for PCP dynamic columns
  pcp/PCPDynamicScreen.c
Labels: bug :bug:, code quality :recycle:, PCP

#1587 Replaced `xMalloc+xSnprintf` with `xAsprintf` in PCP platform code
  pcp/PCPDynamicColumn.c
  pcp/PCPDynamicMeter.c
  pcp/PCPDynamicScreen.c
Labels: enhancement, code quality :recycle:, PCP

#1285 Fix Remove M1 limitation
  darwin/PlatformHelpers.c
Labels: bug :bug:, MacOS :green_apple:
